
.container {
  margin-left: 200px;
}

.sidebar {
  float: left;
  position: absolute;
}

#title {
  color: blue;
}

.box-title {
  padding: 5px;
  font-style: bold;
  border: solid black;
}

.links {
  float: right;

}

.purple {
  background-color: #EE82EE;
}
